table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    padding: none;
    margin: none;
}

.container {
    display: grid;
    grid-template-columns: [game-start] auto [control-start] 100px [end];
    overflow: hidden;
    height: 100vh;
}

.game {
    grid-column-start: game-start;
    grid-column-end: control-start;
    justify-self: center;
}

.controls {
    grid-column-start: control-start;
    grid-column-end: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cell {
    border-radius: 0px;
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
    transition: background-color 100ms;
}

.controlButton {
    display: block;
    height: 100px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}