body {
  font-family: 'Roboto', sans-serif;
  color: rgb(214, 214, 214);
  background-color: #080F1B;
  margin: 0;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  color: rgba(255,255,255,0.8); 
}

input {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: #E8E8E8;
  height: 2rem;
  width: 240px;
  background-color: rgb(3, 6, 12);
  border: 2px solid rgb(32, 53, 87);
}

select {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  height: 2rem;
  width: 240px;
  background-color: rgb(3, 6, 12);
  color: #E8E8E8;
  border: 2px solid rgb(32, 53, 87);
}

button {
  padding: 0.5em 1em;
  margin: 0.25em;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  background-color: rgb(22, 36, 59);
  color: #BBC7CE; 
}

button:hover {
  background-color: #07354E;
  color: #FFFFFF;
}

button:disabled {
    opacity: 0.3;
}